<app-navbar></app-navbar>
<div class="flex items-center justify-center min-h-screen bg-green-100">
  <div class="p-8 max-w-lg w-full bg-white shadow-lg rounded-lg border-2 border-green-300">
    <h2 class="text-3xl font-extrabold mb-6 text-center text-green-700">Agregar Alumno</h2>
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
      <div class="mb-6">
        <label for="Matricula" class="block text-lg font-medium text-gray-700">Matrícula</label>
        <input
          id="Matricula"
          formControlName="Matricula"
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 mt-2 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Ingresa la matrícula"
        />
        <div *ngIf="alumnoForm.get('Matricula')?.invalid && alumnoForm.get('Matricula')?.touched" class="text-red-600 text-sm mt-1">
          Matrícula es requerida.
        </div>
      </div>

      <div class="mb-6">
        <label for="Nombre" class="block text-lg font-medium text-gray-700">Nombre</label>
        <input
          id="Nombre"
          formControlName="Nombre"
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 mt-2 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Ingresa el nombre"
        />
        <div *ngIf="alumnoForm.get('Nombre')?.invalid && alumnoForm.get('Nombre')?.touched" class="text-red-600 text-sm mt-1">
          Nombre es requerido.
        </div>
      </div>

      <div class="mb-6">
        <label for="Escuela" class="block text-lg font-medium text-gray-700">Escuela, Tutor o Padre</label>
        <input
          id="Escuela"
          formControlName="Escuela"
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 mt-2 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Ingresa la escuela, el tutor o el Padre"
        />
        <div *ngIf="alumnoForm.get('Escuela')?.invalid && alumnoForm.get('Escuela')?.touched" class="text-red-600 text-sm mt-1">
          Escuela es requerida.
        </div>
      </div>

      <div class="mb-6">
        <label for="Contacto" class="block text-lg font-medium text-gray-700">Contacto</label>
        <input
          id="Contacto"
          formControlName="Contacto"
          type="text"
          class="w-full border border-gray-300 rounded-lg p-4 mt-2 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Ingresa el contacto"
        />
        <div *ngIf="alumnoForm.get('Contacto')?.invalid && alumnoForm.get('Contacto')?.touched" class="text-red-600 text-sm mt-1">
          Contacto debe ser un número de 10 dígitos.
        </div>
      </div>

      <button
        type="submit"
        class="w-full bg-green-600 text-white px-6 py-3 rounded-lg mt-4 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 disabled:bg-gray-300"
        [disabled]="alumnoForm.invalid"
      >
        Agregar Alumno
      </button>
    </form>
  </div>
</div>
